.home {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.links {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;

}